<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th>Mode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.body %></td>
        <td><%= post.user_id %></td>
        <td><%= post.mode %></td>
        <td><%= link_to 'Show', [@forum_thread, post] %></td>
        <td><%= link_to 'Edit', edit_forum_thread_post_path(@forum_thread, post) %></td>
        <td><%= link_to 'Destroy', [@forum_thread, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Forum thread', @forum_thread %> |
<%= link_to 'New Post', new_forum_thread_post_path(@forum_thread) %>
