<form class="form-horizontal" action="/forum_threads" role="form">

<fieldset>
  <legend>Body</legend>
	<textarea id="forum_thread_body" name="forum_thread[body]" required="requried" rows="3" class="col-md-6"></textarea>
</fieldset>

<fieldset>

  <legend>Allowed Attributions:</legend>

	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    Real Names
	  </label>
	</div>

	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    Pseudonyms
	  </label>
	</div>

	<div class="checkbox">
	  <label>
	    <input type="checkbox" value="">
	    Anonymous
	  </label>
	</div>

</fieldset>

<fieldset>

  <legend>Your Attribution:</legend>

	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	    Real Name
	  </label>
	</div>

	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	    Pseudonym
	  </label>
	</div>

	<div class="radio">
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
	    Anonymous
	  </label>
	</div>

</fieldset>

<button type="submit" class="btn btn-primary">Submit</button>

</form>


<%= bootstrap_form_for(@forum_thread, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.text_area :body, cols: 40, rows: 10 %>
  <%= f.check_box :real_allowed, label: image_tag("real.svg") + " Real names allowed" %>
  <%= f.check_box :pseudo_allowed, label: image_tag("pseudo.svg") + " Pseudonyms allowed"%>
  <%= f.check_box :anon_allowed, label: image_tag("anon.svg") + " Anonymous posts allowed"%>
  <%= f.select :mode, @forum_thread.form_modes%>
  <div class="actions form-actions">
    <%= f.submit "Create thread" %>
  </div>
<% end %>

