<%= bootstrap_form_for(@forum_thread, :html => {:class => "form-inline"}) do |f| %>
 
  <fieldset class="">
    <legend>Body:</legend>
    <%= f.text_area :body, rows: 10, class: "col-md-6", label: false %>

    <textarea class="col-md-6" rows="10" placeholder="Post Preview"></textarea>
  </fieldset>
 
 <fieldset class="">

  <legend>Allowed Attributions:</legend>

    <%= f.check_box :real_allowed, label: image_tag("real.svg", class: "attributionicon") + " Real Name" %>
    <%= f.check_box :pseudo_allowed, label: image_tag("pseudo.svg", class: "attributionicon") + " Pseudonym"%>
    <%= f.check_box :anon_allowed, label: image_tag("anon.svg", class: "attributionicon") + " Anonymous"%>


  <%# f.select :mode, @forum_thread.form_modes%>

    <legend>Your Attribution:</legend>

    <%# f.radio_buttons :mode, @forum_thread.radio_form_modes, label: false, checked: true %>
    
    <% first = true %>
    <%- @forum_thread.form_modes.each do |mode| %>
      <div class="radiobuttons">
        <%= f.radio_button :mode, mode.last, check: first %>
        <%= f.label :mode, image_tag(mode.last + ".svg", class: "attributionicon") + " " + mode.first, value: mode.last %>
        <% first = false %>
      </div>
    <% end %>
  </fieldset>
  <br>
  <div class="actions form-actions">
    <%= f.submit "Create Thread", class: "col-md-6 btn btn-primary"%>
  </div>

<% end %>

