<div class="post">
  <div class="panel panel-default">
    <a href="<%= url_for forum_thread_listing %>">
        <div class="panel-body">
          <%= raw forum_thread_listing.posts.first.body_markdown! %>
        </div>
    </a>
    <div class="panel-footer">

      <div class="author">
        By <%= ApplicationHelper.user_short_link(self, forum_thread_listing.user, forum_thread_listing.mode) %>
      </div>

      <div class="attributions">Attributions:
        <%= render partial: "forum_threads/icon_allowed", object: forum_thread_listing %>
      </div>

      <div class="updated">
        Posted <%= our_time forum_thread_listing.updated_at %>
      </div>

      <div class="comments">
        <% posts = forum_thread_listing.posts[1..forum_thread_listing.posts.length]%>
        <%= link_to pluralize(posts.count, "Comment"), forum_thread_listing %>
      </div>

      <div class="postID">
        Thread <%= forum_thread_listing.id %>
      </div>

    </div>
 </div>
</div>
