<h1>Listing forum_threads</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Allowed</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @forum_threads.each do |forum_thread| %>
      <tr>
        <td><%= forum_thread.title %></td>
        <td style="width: 200px"><%= ApplicationHelper.user_short_link(self, forum_thread.user, forum_thread.mode) %></td>
        <td style="width: 70px">
          <!-- What posts are allowed, use icon-user, icon-cog, icon-empty-star -->
          <% if forum_thread.real_allowed %>
            <i class="icon-user"></i>
          <% end %>
          <% if forum_thread.pseudo_allowed %>
            <i class="icon-cog"></i>
          <% end %>
          <% if forum_thread.anon_allowed %>
            <i class="icon-star-empty"></i>
          <% end %>
        </td>
        <!--<td><%= forum_thread.real_allowed %></td>
        <td><%= forum_thread.pseudo_allowed %></td>
        <td><%= forum_thread.anon_allowed %></td>-->
        <td style="width: 100px"><%= time_ago_in_words(forum_thread.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum thread', new_forum_thread_path %>
