<h1>Listing forum_threads</h1>

<%= link_to 'New Post', new_forum_thread_path %>

<table class="table table-bordered table-hover flforum-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Posts</th>
      <th>Allowed</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @forum_threads.each do |forum_thread| %>
      <tr>
        <td><%= link_to forum_thread.title, forum_thread %></td>
        <td style="width: 200px"><%= ApplicationHelper.user_short_link(self, forum_thread.user, forum_thread.mode) %></td>
        <td style="width: 50px">
          <%= forum_thread.posts.count %>
        </td>
        <td style="width: 70px">
          <%= render partial: "forum_threads/icon_allowed", object: forum_thread%>
        </td>
        <td style="width: 100px"><%= time_ago_in_words(forum_thread.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="pagination">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to 'New Post', new_forum_thread_path %>
