<h1><%= @forum_thread.title %></h1>
<div>
  <%= render partial: "forum_threads/icon_allowed", object: @forum_thread%>
</div>

<p id="notice"><%= notice %></p>

<% if !current_user.has_complained_on @forum_thread %>
  <%= link_to raw( "<i class='icon-eye-open'></i>" ), forum_thread_complaint_path(@forum_thread) %>
<% end %>

<hr>

<table class="table table-bordered table-hover flforum-table">
<% @posts.each do |post| %>
    <tr>
    <td style="width: 200px">
      <div>
        <%= ApplicationHelper.user_short_link(self, post.user, post.mode)%>
      </div>
      <div>
        Updated <%= time_ago_in_words post.updated_at %> ago
      </div>
      <div>
        <%= link_to raw( "<i class='icon-file'></i>" ), [@forum_thread, post] if post.is_a?(Post)%>
        <%= link_to raw( "<i class='icon-font'></i>" ), edit_forum_thread_post_path(@forum_thread, post) if post.is_a?(Post)%>
        <% if !current_user.has_complained_on post %>
          <%= link_to raw( "<i class='icon-eye-open'></i>" ), forum_thread_post_complaint_path(@forum_thread, post) %>
        <% end %>
        <%= link_to raw( "<i class='icon-remove-sign'></i>" ), [@forum_thread, post], method: :delete, data: { confirm: 'Are you sure?' } if post.is_a?(Post)%>
      </div>
    </td>

    <td>
      <%= post.body %>
    </td>
  </tr>

<% end %>
</table>


<div class="pagination">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to 'New Post', new_forum_thread_post_path(@forum_thread) %> |
<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %> |
<%= link_to 'Back', forum_threads_path %>
