<br>

<%= render partial: "forum_thread_listing", object: @forum_thread %>

<div class="col-md-10 col-md-offset-1"><!--replies-->

  <%= render partial: "posts/post_listing", collection: @posts[1..@posts.length] %>

</div><!--end replies-->

<div>
  <%= render partial: "forum_threads/icon_allowed", object: @forum_thread%>
</div>


<% if !current_user.has_complained_on @forum_thread %>
  <%= link_to raw( "<i class='icon-eye-open'></i>" ), forum_thread_complaint_path(@forum_thread) %>
<% end %>

<hr>


<div class="pagination">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to 'Reply', new_forum_thread_post_path(@forum_thread) %> |
<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %> |
<%= link_to 'Back', forum_threads_path %>
